# Enable PHP engine for .jsn files
<FilesMatch "\.jsn$">
    SetHandler php7-script
    # Or just
    AddType application/x-httpd-php .jsn
</FilesMatch>

# If that fails, force Apache to treat .jsn as PHP
AddHandler php7-script .jsn
